.img-size{
  background-size: cover;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.iframe-size{
  width: 100%;
  background-size: cover;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  object-fit: contain;
}

.modal-content {
  border:none;
}
.modal-body {
    padding: 0;
}

.w-100 {
  width: 100% !important;
  height: 75vh;
}

.carousel-control-prev {
  height: 70vh;
}

.carousel-control-next {
  height: 70vh;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  width: 30px;
  height: 48px;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  width: 30px;
  height: 48px;
}

@media (min-width:100%){
  #popup{
      left:calc(50% - 277px); /* 277px is the half of 555px */
  }
}